USE [SistemaProcessos]
GO
/****** Object:  Table [dbo].[Setores]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setores](
	[IdSetor] [int] IDENTITY(1,1) NOT NULL,
	[NomeSetor] [varchar](100) NOT NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSetor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Processos]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Processos](
	[IdProcesso] [int] IDENTITY(1,1) NOT NULL,
	[NumeroProcesso] [varchar](30) NOT NULL,
	[Assunto] [varchar](255) NOT NULL,
	[Descricao] [text] NULL,
	[TipoProcesso] [varchar](50) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[MatriculaCriador] [varchar](20) NOT NULL,
	[Ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProcesso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tramitacoes]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tramitacoes](
	[IdTramitacao] [int] IDENTITY(1,1) NOT NULL,
	[IdProcesso] [int] NOT NULL,
	[IdSetor] [int] NOT NULL,
	[MatriculaUsuario] [varchar](20) NOT NULL,
	[Observacao] [text] NULL,
	[DataEntrada] [datetime] NOT NULL,
	[DataSaida] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTramitacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProcessosLista]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProcessosLista] AS
SELECT
    P.IdProcesso,
    P.NumeroProcesso,
    P.Assunto,
    P.TipoProcesso,
    P.DataCriacao,

    T.IdSetor,
    S.NomeSetor AS SetorAtual,

    DATEDIFF(DAY, T.DataEntrada, GETDATE()) AS DiasNoSetor,

    'Em andamento' AS StatusAtual

FROM Processos P
LEFT JOIN Tramitacoes T 
    ON T.IdProcesso = P.IdProcesso
   AND T.DataSaida IS NULL   -- setor atual

LEFT JOIN Setores S 
    ON S.IdSetor = T.IdSetor
GO
/****** Object:  Table [dbo].[FluxoSetores]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FluxoSetores](
	[IdFluxo] [int] IDENTITY(1,1) NOT NULL,
	[IdSetorOrigem] [int] NULL,
	[IdSetorDestino] [int] NULL,
	[Descricao] [varchar](150) NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFluxo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfis]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfis](
	[IdPerfil] [int] IDENTITY(1,1) NOT NULL,
	[NomePerfil] [varchar](50) NOT NULL,
	[IsAdmin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TramitacaoDetalhes]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TramitacaoDetalhes](
	[IdDetalhe] [int] IDENTITY(1,1) NOT NULL,
	[IdTramitacao] [int] NOT NULL,
	[Campo] [varchar](50) NOT NULL,
	[Valor] [varchar](255) NOT NULL,
	[DataRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [varchar](20) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Login] [varchar](50) NULL,
	[Senha] [varchar](255) NULL,
	[IdPerfil] [int] NULL,
	[IdSetor] [int] NULL,
	[Ativo] [bit] NULL,
	[IdUsuario_Int] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Usuarios__5B65BF976F772A93] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosSistema]    Script Date: 03/03/2026 00:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosSistema](
	[IdUsuarioSistema] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [varchar](20) NOT NULL,
	[IdPerfil] [int] NOT NULL,
	[IdSetor] [int] NOT NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuarioSistema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FluxoSetores] ON 

INSERT [dbo].[FluxoSetores] ([IdFluxo], [IdSetorOrigem], [IdSetorDestino], [Descricao], [Ativo]) VALUES (1, 1, 2, N'Protocolo ? Setor Solicitante', 1)
INSERT [dbo].[FluxoSetores] ([IdFluxo], [IdSetorOrigem], [IdSetorDestino], [Descricao], [Ativo]) VALUES (2, 2, 3, N'Solicitante ? Compras', 1)
INSERT [dbo].[FluxoSetores] ([IdFluxo], [IdSetorOrigem], [IdSetorDestino], [Descricao], [Ativo]) VALUES (3, 3, 4, N'Compras ? Planejamento', 1)
SET IDENTITY_INSERT [dbo].[FluxoSetores] OFF
GO
SET IDENTITY_INSERT [dbo].[Perfis] ON 

INSERT [dbo].[Perfis] ([IdPerfil], [NomePerfil], [IsAdmin]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[Perfis] ([IdPerfil], [NomePerfil], [IsAdmin]) VALUES (2, N'Usuário Padrão', 0)
SET IDENTITY_INSERT [dbo].[Perfis] OFF
GO
SET IDENTITY_INSERT [dbo].[Processos] ON 

INSERT [dbo].[Processos] ([IdProcesso], [NumeroProcesso], [Assunto], [Descricao], [TipoProcesso], [DataCriacao], [MatriculaCriador], [Ativo]) VALUES (1, N'LIC-2024-001', N'Aquisicao de Material de Informatica', N'Processo de compra de equipamentos', N'Licitacao', CAST(N'2026-01-23T16:42:20.663' AS DateTime), N'17738', 1)
INSERT [dbo].[Processos] ([IdProcesso], [NumeroProcesso], [Assunto], [Descricao], [TipoProcesso], [DataCriacao], [MatriculaCriador], [Ativo]) VALUES (3, N'LIC-2024-002', N'Contratação de serviço de manutenção predial', NULL, N'Licitação', CAST(N'2026-01-27T17:44:16.453' AS DateTime), N'17738', 1)
INSERT [dbo].[Processos] ([IdProcesso], [NumeroProcesso], [Assunto], [Descricao], [TipoProcesso], [DataCriacao], [MatriculaCriador], [Ativo]) VALUES (12, N'2026/16', N'1122aaasdasdasdasdasdsadasdasdas', N'asdaaaaaaaaaaa', N'Serviço', CAST(N'2026-03-02T23:37:56.723' AS DateTime), N'17738', 1)
SET IDENTITY_INSERT [dbo].[Processos] OFF
GO
SET IDENTITY_INSERT [dbo].[Setores] ON 

INSERT [dbo].[Setores] ([IdSetor], [NomeSetor], [Ativo]) VALUES (1, N'Protocolo', 1)
INSERT [dbo].[Setores] ([IdSetor], [NomeSetor], [Ativo]) VALUES (2, N'Setor Solicitante', 1)
INSERT [dbo].[Setores] ([IdSetor], [NomeSetor], [Ativo]) VALUES (3, N'Compras', 1)
SET IDENTITY_INSERT [dbo].[Setores] OFF
GO
SET IDENTITY_INSERT [dbo].[TramitacaoDetalhes] ON 

INSERT [dbo].[TramitacaoDetalhes] ([IdDetalhe], [IdTramitacao], [Campo], [Valor], [DataRegistro]) VALUES (1, 12, N'Fornecedor', N'Dell, ', CAST(N'2026-01-26T22:13:03.877' AS DateTime))
INSERT [dbo].[TramitacaoDetalhes] ([IdDetalhe], [IdTramitacao], [Campo], [Valor], [DataRegistro]) VALUES (2, 12, N'Cotacoes', N'3, ', CAST(N'2026-01-26T22:13:03.897' AS DateTime))
INSERT [dbo].[TramitacaoDetalhes] ([IdDetalhe], [IdTramitacao], [Campo], [Valor], [DataRegistro]) VALUES (3, 12, N'TipoCompra', N'LicitaÃ§Ã£o, ', CAST(N'2026-01-26T22:13:03.910' AS DateTime))
SET IDENTITY_INSERT [dbo].[TramitacaoDetalhes] OFF
GO
SET IDENTITY_INSERT [dbo].[Tramitacoes] ON 

INSERT [dbo].[Tramitacoes] ([IdTramitacao], [IdProcesso], [IdSetor], [MatriculaUsuario], [Observacao], [DataEntrada], [DataSaida]) VALUES (1, 1, 1, N'17738', N'Processo protocolado', CAST(N'2026-01-23T16:42:32.250' AS DateTime), CAST(N'2026-01-23T20:03:04.950' AS DateTime))
INSERT [dbo].[Tramitacoes] ([IdTramitacao], [IdProcesso], [IdSetor], [MatriculaUsuario], [Observacao], [DataEntrada], [DataSaida]) VALUES (2, 1, 2, N'17738', N'adasdasd', CAST(N'2026-01-23T20:03:04.980' AS DateTime), CAST(N'2026-01-23T20:03:31.360' AS DateTime))
INSERT [dbo].[Tramitacoes] ([IdTramitacao], [IdProcesso], [IdSetor], [MatriculaUsuario], [Observacao], [DataEntrada], [DataSaida]) VALUES (7, 1, 3, N'17738', N'Agora Ã© com o Compras', CAST(N'2026-01-23T20:37:34.407' AS DateTime), CAST(N'2026-01-26T17:48:37.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tramitacoes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nome], [Login], [Senha], [IdPerfil], [IdSetor], [Ativo], [IdUsuario_Int], [Matricula]) VALUES (N'11712520', N'Gilmar Tavares Leite Borges', N'gilmar', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 2, 3, 1, 3, N'11712520')
INSERT [dbo].[Usuarios] ([IdUsuario], [Nome], [Login], [Senha], [IdPerfil], [IdSetor], [Ativo], [IdUsuario_Int], [Matricula]) VALUES (N'17738', N'IAN LEANDRO CARDOSO FORMIGA', N'ian', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', 1, 1, 1, 1, N'17738')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuariosSistema] ON 

INSERT [dbo].[UsuariosSistema] ([IdUsuarioSistema], [Matricula], [IdPerfil], [IdSetor], [Ativo]) VALUES (1, N'17738', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[UsuariosSistema] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Processo__0430747663B0EC9C]    Script Date: 03/03/2026 00:22:29 ******/
ALTER TABLE [dbo].[Processos] ADD UNIQUE NONCLUSTERED 
(
	[NumeroProcesso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__5E55825BD6E437E9]    Script Date: 03/03/2026 00:22:29 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__5E55825BD6E437E9] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FluxoSetores] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Perfis] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Processos] ADD  DEFAULT ('Licitação') FOR [TipoProcesso]
GO
ALTER TABLE [dbo].[Processos] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Processos] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Setores] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[TramitacaoDetalhes] ADD  DEFAULT (getdate()) FOR [DataRegistro]
GO
ALTER TABLE [dbo].[Tramitacoes] ADD  DEFAULT (getdate()) FOR [DataEntrada]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__Ativo__2B3F6F97]  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[UsuariosSistema] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[FluxoSetores]  WITH CHECK ADD FOREIGN KEY([IdSetorOrigem])
REFERENCES [dbo].[Setores] ([IdSetor])
GO
ALTER TABLE [dbo].[FluxoSetores]  WITH CHECK ADD FOREIGN KEY([IdSetorDestino])
REFERENCES [dbo].[Setores] ([IdSetor])
GO
ALTER TABLE [dbo].[TramitacaoDetalhes]  WITH CHECK ADD  CONSTRAINT [FK_TramitacaoDetalhes_Tramitacoes] FOREIGN KEY([IdTramitacao])
REFERENCES [dbo].[Tramitacoes] ([IdTramitacao])
GO
ALTER TABLE [dbo].[TramitacaoDetalhes] CHECK CONSTRAINT [FK_TramitacaoDetalhes_Tramitacoes]
GO
ALTER TABLE [dbo].[Tramitacoes]  WITH CHECK ADD  CONSTRAINT [FK_Tramitacoes_Processos] FOREIGN KEY([IdProcesso])
REFERENCES [dbo].[Processos] ([IdProcesso])
GO
ALTER TABLE [dbo].[Tramitacoes] CHECK CONSTRAINT [FK_Tramitacoes_Processos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Usuarios__IdPerf__2C3393D0] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfis] ([IdPerfil])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Usuarios__IdPerf__2C3393D0]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK__Usuarios__IdSeto__2D27B809] FOREIGN KEY([IdSetor])
REFERENCES [dbo].[Setores] ([IdSetor])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK__Usuarios__IdSeto__2D27B809]
GO
ALTER TABLE [dbo].[UsuariosSistema]  WITH CHECK ADD FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfis] ([IdPerfil])
GO
ALTER TABLE [dbo].[UsuariosSistema]  WITH CHECK ADD FOREIGN KEY([IdSetor])
REFERENCES [dbo].[Setores] ([IdSetor])
GO
